<div>
    <h2><span>Speaker</span> {{speaker.id}}:{{speaker.name}}</h2>
    <div class="table-responsive">
        <form name="form"
              role="form"
              novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
              ng-controller="SpeakerController">

            <div>
                <button ui-sref="speaker" class="btn btn-info">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
                </button>

                <button type="submit" ng-click="create()" ui-sref="speaker" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                </button>

                <button type="submit" ng-click="delete(speaker.id)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                </button>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th translate="entity.detail.field">Field</th>
                        <th translate="entity.detail.value">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span>Name</span></td>
                        <td><input type="text" class="input-sm form-control" ng-model="speaker.name" value="{{speaker.name}}"></td>
                    </tr>

                    <!-- todo show other details here -->
                    <tr>
                        <td><span>Sessions</span></td>
                        <td>
                            <div class="well view">
                                <div ng-controller="SessionController">
                                    <div ng-repeat="session in sessions track by session.id" >
                                        <label><input type="checkbox" class="form control pull-left" checklist-model="speaker.sessionsPresented" checklist-value="session" />&nbsp;{{session.name}}</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </form>
    </div>

    <div class="modal fade" id="deleteSpeakerConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-controller="SpeakerController">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete Speaker {{speaker.id}}?</p>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>

                        <button type="button" class="btn btn-danger" ng-click="confirmDelete(speaker.id)">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>