<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController" style="background-color: #fff">
    <div class="container">
        <div>
            <span class="logo pull-left img-responsive img-rounded"></span>
            <h1 translate="main.title"></h1>
            <h3 translate="main.subtitle"></h3>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <span class="lead" translate="main.apptitle"></span>
            <ul class="nav navbar-nav nav-pills navbar-right">

                <!-- home icon -->
                <li ui-sref-active="active">
                    <a ui-sref="home">
                        <span class="glyphicon glyphicon-home"></span>
                        <span translate="global.menu.home">Home</span>
                    </a>
                </li>

                <li ui-sref-active="active" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-list"></span>
                            <span class="hidden-tablet">Reports</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ><a ui-sref="statistics"><span class="glyphicon glyphicon-asterisk"></span>
                            &#xA0;<span>Popular Topics</span></a></li>
                    </ul>
                </li>

                <!-- entities menu -->
                <li ui-sref-active="active" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-tablet" translate="global.menu.entities.main">
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>

                    <ul class="dropdown-menu">
<!--
<li ui-sref-active="active" ><a ui-sref="conference"><span class="glyphicon glyphicon-asterisk"></span>&#xA0;<span>Conference</span></a></li>
-->
<li ui-sref-active="active" ><a ui-sref="talk"><span class="glyphicon glyphicon-asterisk"></span>&#xA0;<span>Talk</span></a></li>
<li ui-sref-active="active" ><a ui-sref="speaker"><span class="glyphicon glyphicon-asterisk"></span>&#xA0;<span>Speaker</span></a></li>
<!--
<li ui-sref-active="active" ><a ui-sref="topic"><span class="glyphicon glyphicon-asterisk"></span>&#xA0;<span>Topic</span></a></li>
-->
<li ui-sref-active="active" ><a ui-sref="track"><span class="glyphicon glyphicon-asterisk"></span>&#xA0;<span>Track</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>